node_modules/
bin/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm
*.tgz
.npmrc

*.tsbuildinfo

coverage/
.nyc_output/

.env
.env.local
.env.*.local

.DS_Store
Thumbs.db
*.swp
*.swo

.vscode/
.idea/